* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.4;
  font-family: sans-serif;
}

/* PRODUCT */

.product {
  border: 4px solid #000;
  width: 825px;
  margin: 50px auto;
}

.product-title {
  background-color: #f7f7f7;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  padding: 15px;
}

.price {
  font-size: 24px;
}
.shipping {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #777;
  margin-bottom: 20px;
}

/* LINK */

.more-info:link,
.more-info:visited {
  color: #000;
}
.more-info:hover,
.more-info:active {
  text-decoration: none;
}

/* PRODUCT DETAILS */

.details-title {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 15px;
  margin-top: 30px;
}
.details-list {
  list-style: square;
  margin-left: 20px;
}

.details-list li {
  margin-bottom: 10px;
}

/* BUTTON */

.add-cart {
  background-color: #000;
  text-transform: uppercase;
  color: #fff;
  border-top: 4px solid #000;
  font-size: 20px;
  cursor: pointer;
  width: 100%;
  padding: 15px;
}
.add-cart:hover {
  background-color: #fff;
  color: #000;
}
