* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.4;
  font-family: sans-serif;
}

/* PRODUCT */

.product {
  border: 4px solid #000;
  width: 825px;
  margin: 50px auto;
  position: relative;
}

.product-title {
  background-color: #f7f7f7;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  padding: 15px;
}

.price {
  font-size: 24px;
}
.shipping {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #777;
  margin-bottom: 20px;
}

.sale {
  background-color: #ec2f2f;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  display: inline-block;
  padding: 7px 15px;
  font-weight: bold;
  position: absolute;
  top: -15px;
  left: -38px;
  letter-spacing: 2px;
}

/* LINK */

.more-info:link,
.more-info:visited {
  color: #000;
  display: inline-block;
  margin-bottom: 30px;
}
.more-info:hover,
.more-info:active {
  text-decoration: none;
}

/* COLORS */

.color {
  background-color: #000;
  height: 22px;
  width: 22px;
  display: inline-block;
  margin-right: 10px;
}

.color-blue {
  background-color: #2f6ec2;
}
.color-red {
  background-color: #ec2f2f;
}
.color-yellow {
  background-color: #f0bf1e;
}
.color-green {
  background-color: #90cc20;
}
.color-brown {
  background-color: #885214;
}

/* PRODUCT DETAILS */

.details-title {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 15px;
  margin-top: 20px;
}
.details-list {
  list-style: square;
  margin-left: 20px;
}

.details-list li {
  margin-bottom: 10px;
}

/* BUTTON */

.add-cart {
  background-color: #000;
  text-transform: uppercase;
  color: #fff;
  border-top: 4px solid #000;
  font-size: 20px;
  cursor: pointer;
  width: 100%;
  padding: 15px;
}
.add-cart:hover {
  background-color: #fff;
  color: #000;
}
